* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#headline {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.bannerImage {
  background-image: url("../assets/banner-image.png");
  background-size: cover;
  background-position: center;
} 